name: Build Wine Scribble

# Controls when the action will run. Triggers the workflow on push to the "cinnamon" branch.
on:
  push:
    branches:
      - main

env:
  DOCKER_USERNAME: "${{ github.actor }}"
  DOCKER_PASSWORD: "${{ secrets.GITHUB_TOKEN }}"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-24.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Compile
        run: |
          bash build-wine-wow64-docker.sh

      # - uses: actions/upload-artifact@v4
      #   name: "Upload Scribble (Wine32)"
      #   with:
      #     name: wine-scribble-x86
      #     path: "output/wine32/*"

      - uses: actions/upload-artifact@v4
        name: "Upload Scribble (Wine WoW64)"
        with:
          name: wine-scribble-amd64-wow64
          path: "output/wine-wow64/*"
